{% extends 'base.html' %}
{% load static %}

{% block title %} Forum{% endblock%}

{% block main %}
<div class="container-xl">
    <div align="right"><br>
        <a href="/forum/criar" class="btn btn-primary">Faça uma pergunta</a>
    </div>


    <div><br>
        {% for pergunta in pergunta %}
            <div class="card">
              <div class="card-body">
                <blockquote class="blockquote mb-0">
                  <a href="forum-pergunta/?id={{ pergunta.id }}">{{ pergunta.titulo_pergunta }}</a>
                    <br>
                  <a>Resposta: {{ respostasPerguntas }} </a>
                </blockquote>
              </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
