{% extends 'base.html' %}
{% load static %}

{% block title %} Documentação {% endblock%}

{% block main %}
<div class="container">
    <div>
      <br>
        <section>
            <div class="card mb-3 border-0" style="max-width: 100%;" >
              <div class="row g-0">
                <div class="col-md-9">
                              <!--
                    -----------------------------------------------------------
                    Título da página
                    -----------------------------------------------------------
                  -->
                    <h3>Documentação dos Sistemas</h3>
                    <p>Tudo o que você precisa saber sobre Sistemas de Automação Predial.</p>
                    <hr>
                    <hr>
                  <!--
                      -----------------------------------------------------------
                      CFTV - Circuito Fechado de TV
                      -----------------------------------------------------------
                  -->
                    <h5>Circuito Fechado de TV</h5>
                    <p>
                        É um sistema de captação e retenção de imagens feita por câmeras digitais ou
                        analógicas e que permite a vídeo-vigilância através de monitores conectados
                        à uma rede central. Essa tecnologia é utilizada para fins de vigilância e
                        segurança em residências e empresas.
                    </p>

                    {% for cftv in cftv %}
                            <a href="documentationView/?id={{ cftv.id }}">
                                <p>
                                    <strong>{{ cftv.tituloDocumentacao }}:</strong>
                                    {{ cftv.textoDocumentacao }}


                                    <a href="{% url 'update_documentation' cftv.id %}"> &nbsp;&nbsp;
                                      <i  class="fas fa-edit text-success" ></i>
                                    </a>
                                </p>
                            </a>
                        {% endfor %}
                    <hr>
                    <hr>
                  <!--
                      -----------------------------------------------------------
                      Sistema de Alarme de Intrusão
                      -----------------------------------------------------------
                  -->
                    <h5>Sistema de Alarme de Intrusão</h5>
                    <p>
                      A função de um sistema de detecção de intrusão é alertar o proprietário e, principalmente,
                       a central de monitoramento sobre qualquer violação de um ambiente protegido, seja
                        residencial ou corporativo. Cabe à equipe operacional posicionada na empresa
                         de monitoramento confirmar a veracidade da ocorrência e tomar as providências
                          necessárias e acordadas com o cliente. 

                    </p>
                    {% for sai in sai %}
                            <a href="documentationView/?id={{ sai.id }}">
                                <strong>{{ sai.tituloDocumentacao }}:</strong>
                                        {{ sai.textoDocumentacao }}
                            </a>

                            <a href="{% url 'update_documentation' sai.id %}"> &nbsp;&nbsp;
                              <i  class="fas fa-edit text-success" ></i>
                            </a>
                        {% endfor %}

                    <hr>
                    <hr>
                  <!--
                      -----------------------------------------------------------
                      Sistema de Automação
                      -----------------------------------------------------------
                  -->
                    <h5>Sistema de Automação</h5>
                    <p>
                      Automação é um sistema automático pelo qual os mecanismos verificam seu próprio funcionamento,
                       efetuando medições e introduzindo correções, sem a necessidade da interferência do homem.
                        Em seu uso moderno, a automação pode ser definida como uma tecnologia que utiliza comandos
                         programados para operar um dado processo, combinados com retroação de informação para 
                         determinar que os comandos sejam executados corretamente.
                    </p>
                    {% for sap in sap %}
                            <a href="documentationView/?id={{ sap.id }}">
                                <strong>{{ sap.tituloDocumentacao }}: </strong>
                                        {{ sap.textoDocumentacao }}
                            </a>
                            <a href="{% url 'update_documentation' sap.id %}"> &nbsp;&nbsp;
                              <i  class="fas fa-edit text-success" ></i>
                            </a>
                        {% endfor %}

                    <hr>
                    <hr>
                  <!--
                      -----------------------------------------------------------
                      Sistema de Controle de Acesso
                      -----------------------------------------------------------
                  -->
                    <h5>Sistema de Controle de Acesso</h5>
                    <p>
                      Um sistema de controle de acesso seguro é aquele que é criptografado de ponta a ponta,
                       o que se consegue, em primeiro lugar, com uma tecnologia de identificação
                        (biométrica ou de cartão) que garanta que não seja duplicável ou se possa clonar.
                    </p>
                    {% for sca in sca %}
                            <a href="documentationView/?id={{ sca.id }}">
                                <strong>{{ sca.tituloDocumentacao }}:</strong>
                                    {{ sca.textoDocumentacao }}
                            </a>
                            <a href="{% url 'update_documentation' sca.id %}"> &nbsp;&nbsp;
                              <i  class="fas fa-edit text-success" ></i>
                            </a>  
                        {% endfor %}
                    <hr>
                    <hr>
                  <!--
                      -----------------------------------------------------------
                      Sistema de Alarme de Incêndio
                      -----------------------------------------------------------
                  -->
                    <h5>Sistema de Alarme de Incêndio</h5>
                    <p>
                      A central de alarme de incêndio é o equipamento responsável por receber o sinal emitido
                       pelos detectores de fumaça e, então, acionar sirenes de alerta, sinalizando a necessidade 
                       de evacuação da edificação em caso de incêndio.
                    </p>
                        {% for sdai in sdai %}
                            <a href="documentationView/?id={{ sdai.id }}">
                                <strong>{{ sdai.tituloDocumentacao }}:</strong>
                                        {{ sdai.textoDocumentacao }}
                            </a>
                            <a href="{% url 'update_documentation' sdai.id %}"> &nbsp;&nbsp;
                              <i  class="fas fa-edit text-success" ></i>
                            </a>
                        {% endfor %}
                    <hr>
                    <hr>
                </div>
                <div class="col-md-3 bg-light text-dark">
                  <div class="card-body ">
                    <h5 class="card-title">Suporte ADS-Sistemas</h5><hr>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
              </div>
            </div>
        </section>
</div>
{% endblock %}
