{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

    {% block main %}
        <form method="post">{% csrf_token %}
             <div align="center">

                 <i class="fas fa-exclamation-triangle" style="color:#dd3447;font-size:60px;"></i>

                <h2>Deseja excluir cadastro permanentemente?</h2>
            </div>

                {{ form  }}

            <div align="center">
                <button type="submit" class="btn btn-danger"> Comfirmar</button>
            </div>
        </form>
    {% endblock %}
