{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="static/css/style.css">

{% block title %} Clientes {% endblock%}

{% block main %}
<div class="container">
    <!--
    ____________________________________________________________________________
     Texto sobre o cliente
    ____________________________________________________________________________
      -->
    <div><br>
        <h3>
          CLIENTES
        </h3>
        <p>
          A razão da existência de nossa atividade. Nosso mind set é de nos 
          colocarmos na posição do cliente, entendendo necessidades e grau 
          de urgência das demanda, bem como o ser o apoio técnico nas 
          demandas necessárias e tomadas de decisão.
        </p>
    </div>
    <!--
    ____________________________________________________________________________
    Botão adicionar clienete
    ____________________________________________________________________________
    -->
    </div>
        <a href="/clientes/criar" class="btn btn-primary">Adicionar Cliente</a>
    <div>
    <!-- Tabela com os nomes dos clientes -->
    <div class="table-responsive">
        <table class="table table-hover">
          <thead class="table-dark">
            <tr>
              <th scope="col">Cliente</th>
                <th scope="col">Cidade</th>
                <th scope="col">UF</th>
                <th scope="col">Visualizar</th>
                <th scope="col">Equipamentos</th>
                <th scope="col">Editar</th>
                <th scope="col">Deletar</th>
            </tr>
          </thead>
          <tbody>
            {% for cliente in object_list %}
            <tr>
              <th scope="row">{{ cliente }}</th>
                <th scope="row">{{ cliente.cidade }}</th>
                <th scope="row">{{ cliente.cidade.uf }}</th>
              <th>
                <a href="{% url 'details_cliente' cliente.id%}">
                    <i class="fas fa-eye text-lg-info" style='font-size:30px'></i>
                </a>&nbsp;&nbsp;
              </th>
              <th>
                <a href="equipamentos/?id={{ cliente.id }}">
                    <i class="fas fa-microchip text-secondary" style='font-size:30px'></i>
                </a>&nbsp;&nbsp;
              </th>
              <th>
                <a href="{% url 'update_cliente' cliente.id %}">
                    <i class="fas fa-user-edit text-warning" style='font-size:30px'></i>
                </a>&nbsp;&nbsp;
              </th>
              <th>
                <a href="{% url 'delete_cliente' cliente.id %}">
                    <i class="fas fa-trash-alt text-danger" style='font-size:30px'></i>
                </a>
              </th>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>        
</div>
{% endblock %}
