<!-- Extendendo os arquivos de base -->
{% extends 'base.html' %}

<!-- Carregar os arquivos estáticos -->
{% load static %}

<!-- Bloco contendo o  título da página -->
{% block title %} :: Manuais {% endblock %}

<!-- Bloco principal -->
{% block main %}
    <div class="table-responsive">
        <table class="table">
            <thead class="table-dark">
                <th>Fabricante</th>
                <th>Sistema</th>
                <th>Descrição</th>
                <th>Link</th>
            </thead>
            <tbody>
            {% for manual in manual %}
                <tr>
                    <td>{{ manual.fabricanteNome }}</td>
                    <td>{{ manual.fabricanteSistema }}</td>
                    <td>{{ manual.fabricanteDescricao }}</td>
                    <td>{{ manual.fabricanteLink }}</td>
                    <td>Link</td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
{% endblock %}